html {
    display: flex;
    justify-content: center;
}

body {
    width: 1024px;
    
}

.kartinka img {
    max-height: 250px;
    max-width: 150px;
}

.cont ul {
    font-family: 'Times New Roman', Times, serif;
} 