@font-face { 
    font-family: 'Times New Roman', Times, serif;
    src: local(Times);
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 1024px;
}

.cont ul {
    font-family: 'Times New Roman', Times, serif;
}

.goal {
    font-family: 'Courier New', Courier, monospace;
    color: green;
}